<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ANDROID_CLIENT_ID</key>
		<string>829865718999-262u4p8a82kj5fec271s3mikrlschria.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyBrWQHUKyiSJs15uPbn3RQeBnMBKL9duzw</string>
		<key>GCM_SENDER_ID</key>
		<string>829865718999</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.shaivam.app</string>
		<key>PROJECT_ID</key>
		<string>shaivam-20c8f</string>
		<key>STORAGE_BUCKET</key>
		<string>shaivam-20c8f.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:829865718999:ios:e37296f12ade84a51c6c92</string>
		<key>DATABASE_URL</key>
		<string>https://shaivam-20c8f.firebaseio.com</string>
	</dict>
</plist>